<%- include('../partials/header') %>

<section id="Game Details">
  <div>Title: </div>
  <div><%= game.title %></div>
  <br></br>
  <div>Release date: </div>
  <div><%= game.releaseDate %></div>
  <br><br>
  <div>Rating: </div>
  <div><%= game.esrbRating %></div>
  <br></br>
  <!-- <div>Completion:</div>
    <select name="Completion" id="Completion">
      <option value="New">0%/New Game</option>
      <option value="15%">15%</option>
      <option value="25%">25%</option>
      <option value="35%">35%</option>
      <option value="45%">45%</option>
      <option value="55%">55%</option>
      <option value="65%">65%</option>
      <option value="75%">75%</option>
      <option value="85%">85%</option>
      <option value="95%">95%</option>
      <option value="100%">100% Fully Completed</option>
      <option value="Completed">Completed</option>
    </select>
  <br></br> -->
  <a href="/games/<%= game._id %>/edit">Edit Game</a>
  <br></br>
</section>

<section id="Notes">
<% if (user) { %>
  <form id="add-notes" method="POST" action="/games/<%= game._id %>/notes">
    <label for="notes">Notes:</label>
    <textarea name="content"></textarea>
    <input type="submit" value="Add Note">
  </form>
<% } %>
<br></br>
<% if (game.notes.length) { %>
  <table>
    <tbody>
      <% game.notes.forEach(function(note) { %>
      <tr>
        <td><%= note.content %></td>
        <td>
        <% if (user && user._id.equals(note.user)) { %>
          <form action="/notes/<%= note._id %>?_method=DELETE" method="POST">
            <button type="submit">X</button>
          </form>
        <% } %>
        </td>
      </tr>
      <% }); %>
      <% } %>
    </tbody>
  </table>
  <br></br>
</section>


<% if (user && user._id.equals(game.user)) { %>
  <form action="/games/<%= game._id %>?_method=DELETE" method="POST">
    <button type="submit">Remove game</button>
  </form>
<% } %>



<%- include('../partials/footer') %>