<%- include('../partials/header') %>

<section>
  <div>Title: </div>
  <div><%= game.title %></div>
  <div>Release date: </div>
  <div><%= game.releaseDate %></div>
  <div>Rating: </div>
  <div><%= game.esrbRating %></div>
</section>

<%- include('../partials/footer') %>