<%- include('../partials/header') %>

<section id="show-page">
  <div>Title: </div>
  <div><%= game.title %></div>
  <div>Release date: </div>
  <div><%= game.releaseDate %></div>
  <div>Rating: </div>
  <div><%= game.esrbRating %></div>
</section>

<br><br>

<%- include('../partials/footer') %>